*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    text-align: center !important;
}

table td{
    vertical-align: middle !important;
}

thead{
    font-size: 18px;
    font-weight: bold;
}

.icon{
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 30px;
    height: 50px;
    width: 50px;
    float: left;
}

.id{
    position: relative;
    top: 10px;
}

.container2{
    margin: 0 1%;
}

.titulo{
    float: left;
    margin-top: 20px;
}

.btn-info{
    float: right;
    position: relative;
    top: 10px;
}

.clear{
    clear: both;
}

table tr th:first-child{
    width: 4%;
}

table tr td:first-child input{
    width: 100%;
}

.confirm{
    line-height: 0.5em;
}

textarea{
    width: 100%;
    height: 40px;
    resize: none;
    margin-bottom: -6px;
}

select, input{
    height: 40px;
}

.teste{
    border: 0px;
}

.error-text{
    animation: shake 0.2s ease-in-out 0s 2;
    border: 1px solid red;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }

button{
    outline:none;
    border: none;
}
button:hover{
    color: green;
}
button:active {
    border: none;
    outline:none;
    transform: translateY(4px);
  }
button:focus{
    border: none;
    outline:none;
}


/* 
table tr th:nth-of-type(2){
    background-color: green;
}

table tr th:nth-of-type(2) p{
    overflow-y: scroll;
    max-height: 100px;
} */
